@model int

<i class="bi bi-cart"></i> &nbsp; (@Model)

<@* li class="nav-item">
    <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
    @await Component.InvokeAsync("ShoppingCart")
    </a>
    </li> *@